@import '../styles/main.scss';

.login-row {
    min-height: 100vh;
  }
  
  .login-container {
    background: #fff;
    padding: $padding;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    @include center;
    flex-direction: column;
    
    @include respond-to(small) {
      padding: 8px;
    }
  }